In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

In [2]:
data = pd.read_excel("C:/Users/ManiShankar/Documents/LetsUpgrade/AI_ML/Materials/Datasets/Bank_Personal_Loan_Modelling.xlsx",sheet_name="Data")

In [3]:
data.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [4]:
data.tail()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
4995,4996,29,3,40,92697,1,1.9,3,0,0,0,0,1,0
4996,4997,30,4,15,92037,4,0.4,1,85,0,0,0,1,0
4997,4998,63,39,24,93023,2,0.3,3,0,0,0,0,0,0
4998,4999,65,40,49,90034,3,0.5,2,0,0,0,0,1,0
4999,5000,28,4,83,92612,3,0.8,1,0,0,0,0,1,1

In [5]:
data.columns

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

1. IDV are : Age, Experience, Income, Family, CCAvg, Eduction, Mortage, Security Account, CD Account, Online, creditcard
2. DV are : Personal Loan
3. Here we dont need ID and ZIP Code for further regression as they dont have much value

In [6]:
data.drop(['ID','ZIP Code'], inplace = True, axis = 1)

In [7]:
data.columns

Index(['Age', 'Experience', 'Income', 'Family', 'CCAvg', 'Education',
       'Mortgage', 'Personal Loan', 'Securities Account', 'CD Account',
       'Online', 'CreditCard'],
      dtype='object')

In [8]:
# checking for null values
data.isna().sum()

Age                   0
Experience            0
Income                0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [9]:
len(data)

5000

In [10]:
# checking for duplicated rows
data = data.drop_duplicates()

In [11]:
len(data)

4987

- Some records were dropped

Here dependent variable is categorical so we go for Logistic regression

In [12]:
# Label Encoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [13]:
data.dtypes

Age                     int64
Experience              int64
Income                  int64
Family                  int64
CCAvg                 float64
Education               int64
Mortgage                int64
Personal Loan           int64
Securities Account      int64
CD Account              int64
Online                  int64
CreditCard              int64
dtype: object

Here none of the variable has object datatype, So we skip Label Encoding

In [14]:
x = data[['Age', 'Experience', 'Income', 'Family', 'CCAvg', 'Education','Mortgage', 'Securities Account', 'CD Account', 'Online', 'CreditCard']]
y = data['Personal Loan']

Multicollinearity Test

In [15]:
x.corr()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Securities Account,CD Account,Online,CreditCard
Age,1.000000,0.994221,-0.056897,-0.045533,-0.052540,0.042356,-0.013014,-0.000715,0.007849,0.013989,0.006381
Experience,0.994221,1.000000,-0.048277,-0.051718,-0.050610,0.014166,-0.011083,-0.001529,0.010151,0.014245,0.007628
Income,-0.056897,-0.048277,1.000000,-0.157922,0.646073,-0.186847,0.206420,-0.002992,0.169589,0.014646,-0.003479
Family,-0.045533,-0.051718,-0.157922,1.000000,-0.109812,0.066145,-0.020595,0.019957,0.014081,0.009907,0.012018
CCAvg,-0.052540,-0.050610,0.646073,-0.109812,1.000000,-0.135299,0.109166,0.014573,0.136244,-0.002727,-0.007404
Education,0.042356,0.014166,-0.186847,0.066145,-0.135299,1.000000,-0.032256,-0.010132,0.014475,-0.015633,-0.010307
Mortgage,-0.013014,-0.011083,0.206420,-0.020595,0.109166,-0.032256,1.000000,-0.005909,0.088987,-0.005266,-0.007930
Securities Account,-0.000715,-0.001529,-0.002992,0.019957,0.014573,-0.010132,-0.005909,1.000000,0.316883,0.013096,-0.015466
CD Account,0.007849,0.010151,0.169589,0.014081,0.136244,0.014475,0.088987,0.316883,1.000000,0.176414,0.278559
Online,0.013989,0.014245,0.014646,0.009907,-0.002727,-0.015633,-0.005266,0.013096,0.176414,1.000000,0.004712
CreditCard,0.006381,0.007628,-0.003479,0.012018,-0.007404,-0.010307,-0.007930,-0.015466,0.278559,0.004712,1.000000

- Except for Age and Experience rest all are leatly correlated and can be continued to perform Logistic Regression

In [16]:
print(len(x))
print(len(y))

4987
4987

In [17]:
x1 = sm.add_constant(x)

C:\Users\ManiShankar\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [18]:
Logistic = sm.Logit(y,x1)

In [19]:
model = Logistic.fit()

Optimization terminated successfully.
         Current function value: 0.128720
         Iterations 9

In [20]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:          Personal Loan   No. Observations:                 4987
Model:                          Logit   Df Residuals:                     4975
Method:                           MLE   Df Model:                           11
Date:                Thu, 06 Aug 2020   Pseudo R-squ.:                  0.5936
Time:                        12:14:31   Log-Likelihood:                -641.93
converged:                       True   LL-Null:                       -1579.7
Covariance Type:            nonrobust   LLR p-value:                     0.000
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                -12.1727      1.645     -7.399      0.000     -15.397      -8.948
Age                   -0.0541      0.061     -0.882      0.378      -0.174       0.066
Experience             0.0642      0.061      1.054      0.292      -0.055       0.184
Income                 0.0545      0.003     20.822      0.000       0.049       0.060
Family                 0.6947      0.074      9.348      0.000       0.549       0.840
CCAvg                  0.1236      0.040      3.117      0.002       0.046       0.201
Education              1.7363      0.115     15.091      0.000       1.511       1.962
Mortgage               0.0005      0.001      0.848      0.396      -0.001       0.002
Securities Account    -0.9371      0.286     -3.280      0.001      -1.497      -0.377
CD Account             3.8181      0.324     11.788      0.000       3.183       4.453
Online                -0.6724      0.157     -4.280      0.000      -0.980      -0.364
CreditCard            -1.1181      0.205     -5.454      0.000      -1.520      -0.716
======================================================================================
"""

1. p value for Age, Experience, mortage are > 0.5 that implies they are least significant in deciding outcome
2. p value for Income, Family, CCAvg, Education, Securities Account, CD Account, online, CreditCard are close to 0 that implies they are highly significant in decinding outcome

1. Now we can find probalbility equation and after substituting respective values we can decide whethar a peson is eligible to 
get loan or not
2. If probability is < 0.5 Then they have low chances of getting loan approved.
3. If probability is > 0.5 Then they have high chances of getting loan approved.