In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier

In [2]:
data = pd.read_csv("C:/Users/ManiShankar/Documents/LetsUpgrade/AI_ML/Materials/Datasets/Attrtion dataset.csv")

In [3]:
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [4]:
data.tail()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,0.0,Y,12,8,0,NaN,6,21,3,9

In [5]:
data.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [6]:
len(data)

4410

In [7]:
# checking for null values
data.isna().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [8]:
# Here we fill Nan values of no. of companies Worked with mode
data.NumCompaniesWorked = np.where(data.NumCompaniesWorked.isna(),np.floor(data.NumCompaniesWorked.mode()),data.NumCompaniesWorked)

In [9]:
# Nan values of total Working years is replaced by mean
data.TotalWorkingYears = np.where(data.TotalWorkingYears.isna(),np.floor(data.TotalWorkingYears.mean()),data.TotalWorkingYears)

In [10]:
data.isna().sum().sum()

0

In [11]:
# Now we try to remove duplicated records
data = data.drop_duplicates()

In [12]:
len(data)

4410

In [13]:
data.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeID                   int64
Gender                      object
JobLevel                     int64
JobRole                     object
MaritalStatus               object
MonthlyIncome                int64
NumCompaniesWorked         float64
Over18                      object
PercentSalaryHike            int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears          float64
TrainingTimesLastYear        int64
YearsAtCompany               int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

Categorical variables
1. Attrition
2. BusinessTravel
3. Department
4. EducationField
5. Gender
6. JobRole
7. MaritialStatus
8. Over18

In [14]:
# Encoding categorized variables
le = LabelEncoder()

In [15]:
data.Attrition = le.fit_transform(data.Attrition)

In [16]:
data.BusinessTravel = le.fit_transform(data.BusinessTravel)

In [17]:
data.Department = le.fit_transform(data.Department)

In [18]:
data.EducationField = le.fit_transform(data.EducationField)

In [19]:
data.Gender = le.fit_transform(data.Gender)

In [20]:
data.JobRole = le.fit_transform(data.JobRole)

In [21]:
data.MaritalStatus = le.fit_transform(data.MaritalStatus)

In [22]:
data.Over18 = le.fit_transform(data.Over18)

In [23]:
data.dtypes

Age                          int64
Attrition                    int32
BusinessTravel               int32
Department                   int32
DistanceFromHome             int64
Education                    int64
EducationField               int32
EmployeeCount                int64
EmployeeID                   int64
Gender                       int32
JobLevel                     int64
JobRole                      int32
MaritalStatus                int32
MonthlyIncome                int64
NumCompaniesWorked         float64
Over18                       int32
PercentSalaryHike            int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears          float64
TrainingTimesLastYear        int64
YearsAtCompany               int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [24]:
data = data.astype(np.int64)

In [25]:
data.dtypes

Age                        int64
Attrition                  int64
BusinessTravel             int64
Department                 int64
DistanceFromHome           int64
Education                  int64
EducationField             int64
EmployeeCount              int64
EmployeeID                 int64
Gender                     int64
JobLevel                   int64
JobRole                    int64
MaritalStatus              int64
MonthlyIncome              int64
NumCompaniesWorked         int64
Over18                     int64
PercentSalaryHike          int64
StandardHours              int64
StockOptionLevel           int64
TotalWorkingYears          int64
TrainingTimesLastYear      int64
YearsAtCompany             int64
YearsSinceLastPromotion    int64
YearsWithCurrManager       int64
dtype: object

# Random Forest for finding important features for DecisionTree

In [26]:
rf_model = RandomForestClassifier(n_estimators = 1000, max_features = 2, oob_score = True)

In [27]:
features = ['Age', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager']

In [28]:
x = data[features]
y = pd.DataFrame({'Attrition':data.Attrition})

In [29]:
x.head(2)

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,JobLevel,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,2,2,6,2,1,1,1,0,1,...,1,0,11,8,0,1,6,1,0,0
1,31,1,1,10,1,1,1,2,0,1,...,0,0,23,8,1,6,3,5,1,4

In [30]:
y.head(2)

   Attrition
0          0
1          1

In [31]:
rf_model.fit(x,y)

C:\Users\ManiShankar\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features=2, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [32]:
rf_model.oob_score_

0.9997732426303855

In [33]:
for feature,percent in zip(features,rf_model.feature_importances_) :
    print(feature,percent)

Age 0.09182564299181899
BusinessTravel 0.026803852140427624
Department 0.025059901555789764
DistanceFromHome 0.06644325000040326
Education 0.039559105319054134
EducationField 0.04044520369053447
EmployeeCount 0.0
EmployeeID 0.03741967466036118
Gender 0.017240619592050227
JobLevel 0.036313774259689444
JobRole 0.053496496336235176
MaritalStatus 0.03940845857427574
MonthlyIncome 0.088212286108945
NumCompaniesWorked 0.054081513051417965
Over18 0.0
PercentSalaryHike 0.06348310811816517
StandardHours 0.0
StockOptionLevel 0.032588399762837304
TotalWorkingYears 0.0821895683973053
TrainingTimesLastYear 0.04309942623744761
YearsAtCompany 0.06694984176401973
YearsSinceLastPromotion 0.042163766921037
YearsWithCurrManager 0.05321611051818492

# From above result we can colnclude
1. Age has high significance in Attrition determination
2. MonthlyIncome and TotalWorkingYears has next significance after Age
3. DistanceFromHome, PercentSalaryHike and YearsAtCompany has next significance
4. JobRole, NumCompaniesWorked, YearsWithCurrManager has next significance
5. YearsSinceLastPromotion, StockOptionLevel, MaritialStatus, JObLevel, EducationField, Education, has next significance
6. Remaning all other variables have least significance
7. Over18, StandardWorkingHours, EmployeeCount has no significance at all.

In [34]:
data.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

So now we consider only ['Age','MonthlyIncome','TotalWorkingYears', 'DistanceFromHome', 'PercentSalaryHike', 'YearsAtCompany', 
                        'JobRole', 'NumCompaniesWorked', 'YearsWithCurrManager', 'YearsSinceLastPromotion']

# DecisionTree

In [35]:
tree_model = tree.DecisionTreeClassifier(max_depth=5)

In [36]:
x = data[['Age','MonthlyIncome','TotalWorkingYears', 'DistanceFromHome', 'PercentSalaryHike', 'YearsAtCompany', 
                        'JobRole', 'NumCompaniesWorked', 'YearsWithCurrManager', 'YearsSinceLastPromotion']]

In [37]:
y = data.Attrition

In [38]:
print(len(x))
print(len(y))

4410
4410

In [39]:
tree_model.fit(x,y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=5,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [40]:
with open("Model4.dot",'w') as f :
    f = tree.export_graphviz(tree_model,feature_names=['Age','MonthlyIncome','TotalWorkingYears', 'DistanceFromHome', 'PercentSalaryHike', 'YearsAtCompany', 
                        'JobRole', 'NumCompaniesWorked', 'YearsWithCurrManager', 'YearsSinceLastPromotion'],out_file=f)

# insights from DecisionTree

1. If PercentSalaryHike >= 12.5 and MonthlyIncome <= 23140.0 and Age <= 33.5 and TotalWorkingYears <= 1.5
   then Attrition is Yes.
2. If DistanceFromHome <= 13.0 and YearsSinceLastPromotion <= 0.5 and MonthlyIncome >= 112610.0 and Age >= 33.5 and  TotalWorkingYears <= 1.5 then Attrition is Yes.
3. If YearsSinceLastPromotion >= 0.5 and MonthlyIncome >= 112610.0 and Age >= 33.5 and TotalWorkingYears <= 1.5 then Attrition is No.
4. If PercentSalaryHike <= 12.0 and MonthlyIncome <= 25425.0 and Age >= 33.5 and TotalWorkingYears <= 1.5 then Attrition is yes.
5. If PercentSalaryHike >= 21.0 and YearsAtCompany <= 1.5 and NumCompaniesWorked <= 4.5 and Age >= 33.5 then Attrition is No.