In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier

In [2]:
data = pd.read_csv("C:/Users/ManiShankar/Documents/LetsUpgrade/AI_ML/Materials/Datasets/DecisionTree train.csv")

In [3]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
data.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
884,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
885,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
886,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,45.0,1,2,W./C. 6607,23.45,NaN,S
887,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
888,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [5]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [6]:
data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [7]:
len(data)

889

1. Since most of the entries of cabin are null, we drop it
2. Name does not have any significance so drop it

In [8]:
data.drop(['Name','Cabin'], axis = 1, inplace = True)

In [9]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Embarked'],
      dtype='object')

In [10]:
data['SibSp'].value_counts()

0    606
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64

In [11]:
pd.crosstab(data.Survived,data.SibSp)

SibSp       0    1   2   3   4  5  8
Survived
0         398   97  15  12  15  5  7
1         208  112  13   4   3  0  0

There won't be any duplicate records so no need to check for them

In [12]:
data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Embarked        object
dtype: object

In [13]:
le = LabelEncoder()

In [14]:
data['Sex'] = le.fit_transform(data.Sex)

In [15]:
data.Ticket = le.fit_transform(data.Ticket)

In [16]:
data.Embarked = le.fit_transform(data.Embarked)

In [17]:
data = data.astype(np.int64)

In [18]:
data.dtypes

PassengerId    int64
Survived       int64
Pclass         int64
Sex            int64
Age            int64
SibSp          int64
Parch          int64
Ticket         int64
Fare           int64
Embarked       int64
dtype: object

>Now there is no categorical variable so we can continue

In [19]:
tree_model = tree.DecisionTreeClassifier(max_depth=8)

# Model 1 (Age Vs Survived)

In [20]:
x = pd.DataFrame({'Age':data.Age})
y = pd.DataFrame({'Survived':data.Survived})

In [21]:
print(len(x))
print(len(y))

889
889

In [22]:
tree_model.fit(x,y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=8,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [23]:
# Saving it into file
with open("Model1.dot",'w') as f :
    f = tree.export_graphviz(tree_model,feature_names=['Age'],out_file=f)

In [24]:
tree_model.score(x, y)

0.6602924634420697

There are so many childs so refer attached pic for inferences

# Model2 (Age, Gender Vs Survived)

In [25]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Embarked'],
      dtype='object')

In [26]:
x = data[['Age','Sex']]

In [27]:
x.head(1)

   Age  Sex
0   22    1

In [28]:
y.head(1)

   Survived
0         0

In [29]:
tree_model.fit(x,y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=8,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [30]:
# Saving it into file
with open("Model2.dot",'w') as f :
    f = tree.export_graphviz(tree_model,feature_names=['Age','Sex'],out_file=f)

In [31]:
tree_model.score(x, y)

0.8143982002249719

There are so many childs so refer attached pic for inferences

# Model3 (Age, Gender, Fare Vs Survived)

In [32]:
x = data[['Age','Sex','Fare']]

In [33]:
x.head(1)

   Age  Sex  Fare
0   22    1     7

In [34]:
y.head(1)

   Survived
0         0

In [35]:
tree_model.fit(x,y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=8,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [36]:
# Saving it into file
with open("Model3.dot",'w') as f :
    f = tree.export_graphviz(tree_model,feature_names=['Age','Sex','Fare'],out_file=f)

In [37]:
tree_model.score(x, y)

0.8537682789651294

There are so many childs so refer attached pic for inferences

In [38]:
# Random Forest for prioritizing input values

rf_model = RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [39]:
inpt = ['Age','Sex','Fare']

In [40]:
rf_model.fit(x,y)

C:\Users\ManiShankar\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features=2, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [41]:
rf_model.oob_score_

0.7739032620922385

In [42]:
for feature,imp in zip(inpt,rf_model.feature_importances_):
    print(feature,imp)

Age 0.34862011683006905
Sex 0.3078950487818311
Fare 0.3434848343880998

Age, Gender, Fare are equally important for prediction

# Prediction using model3

In [43]:
test_predict = tree_model.predict(x)

In [44]:
predicted_output = pd.DataFrame({'P_id':data.PassengerId,'Survived':test_predict})

In [45]:
predicted_output.to_csv("Titanic_Prediction",index = False)

In [46]:
predicted = pd.read_csv("Titanic_Prediction")

In [47]:
predicted

     P_id  Survived
0       1         0
1       2         1
2       3         0
3       4         1
4       5         0
..    ...       ...
884   887         0
885   888         1
886   889         1
887   890         0
888   891         0

[889 rows x 2 columns]